.osy-combosearch .input {
    width:initial;
    padding:0px;
}

.osy-combosearch .ico-search {
    position:absolute;
    padding:5px;
    border-right:1px solid silver;
}

.osy-combosearch .ico-dot {
    position:absolute;
    padding: 5px;
    right:5px;
    color:silver;
    border-left:1px solid silver;
    cursor:pointer;
}

.osy-combosearch .search-name {
    padding-left:30px;
    padding-right:28px;
}

.osy-combosearch .current {
    background-color: #ceddef;
}