.osy-datagrid-cmd {
    display:inline-block;
    vertical-align:super;   
}

.osy-datagrid-cmd .btn {
    margin:3px;
    padding: 0px 5px;
}

.osy-datagrid {
    overflow: auto;
    clear: both;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    border-rigth: 1px solid silver;
    position:relative;
}
.osy-datagrid table {
    width:100%;
    border-right: 1px solid silver;
}

.osy-datagrid table th {
    border-left: 1px solid silver;
    padding:2px;
    background-color: #EEE;
    border-bottom: 1px dotted silver;
}

.osy-datagrid table td {
    width:100%;
    border-top: 1px dotted silver;
    border-left: 1px solid silver;
    padding:2px;
}

.osy-datagrid table td .cell{
    overflow:hidden;
    max-width: 100%;
}

.osy-datagrid-cmd {
    display:inline-block;
    vertical-align:super;
}
.osy-datagrid-src {
    float:right;
    margin:2px;
    position:relative;
}
@media(max-width:400px) {
    .navbar-brand {
        display:none;
    }
}

.osy-datagrid-src .input {
    width:initial;
    min-height: 30px;
}

.osy-datagrid-src .input input {border:0px; width:initial; padding:0px;}