*[data-editable] {
    min-height: 30px;
    border:1px dotted silver;
}

 .author {
    font-style: italic;
    font-weight: bold;
}

.ct-app .ct-widget.ct-ignition {
    right: 220px;
    top: 60px;
    left:initial;
}
.ct-app .ct-widget.ct-inspector {
    height:51px;
    background: #e9ecef;
}