/**
 * CSS DESKTOP
 */

.error {color: red}
.erro input {background-color: red};

.boxContent {
    border: 1px solid silver;
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}

@media (max-width: 600px) {
    #globalTime {
        display: none;
    }
}
label {
    margin-bottom: 0px;
    margin-top:5px;
}
.osy-component input[type=text] {
    width:100%;
    border:1px solid silver;
    border-radius:3px;
}
.osy-component .input {
    width:100%;
    border:1px solid silver;
    border-radius:3px;
}
.osy-component .input input{
    border:0px solid silver;
}
.osy-component .const {
    background-color:#ffffef;
}

.form-row {margin-left: 0px; margin-right:0px;}
.content-wrapper {padding-top:0px;}
#mainCommand
{
    position:fixed; bottom:0px; border-top:1px solid silver; background-color: #e9ecef;
}
#mainCommand .osy-command {
    float:right;
}
#mainCommand .osy-command.delete {
    float:left;
}
.scroll-to-top {
    bottom:50px;
}
body.sticky-footer {
    margin-bottom:0px;
}
body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px);
}
.btn.command {
    margin:5px; padding:1px 5px;
}

.modal-footer {
    padding:3px;
    justify-content: space-around;
}
.modal-header {
    padding:3px;
}
.modal-title {
    text-align: center;
    width:100%;
}
.changed input.recorder{
    background-color: #ceedff;
}
.changed input:text.recorder{
    background-color: #ceedff;
}

.empty {
    color:silver;
    padding:5px;
    text-align:center;
}