.osy-combodatarange .input {
    width:initial;
    padding:0px;
}
.osy-combodatarange code {
    display:block;
    width:100%;
}
.osy-combodatarange .calendar .day {
    padding: 0px 5px;
}

.osy-combodatarange .calendar table,
.osy-combodatarange .calendar th,
.osy-combodatarange .calendar td
{
    padding: 0px;
    margin: 0px;
}